/* General styles */

 *{
    font-family: wf_dd28b3957391427eb54de1c9e;
    color:  rgb(244, 244, 244);
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    margin:0px;
}

:root {
    --boldFont: wfont_643d94_f52303b2efea42e1b4aeed119e42672e, wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black;
  } 


/* first two sections */

/* section 1  -- main banner*/

.HeadlinesSection{
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1656,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
    color: #fff;
    min-height: 352px;
    background-position: center;
 
}

/* section 2  -- general information banner*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
}
.grid-container section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px; 
    box-sizing: border-box !important;
  }
.grid-container> section:nth-child(even) {
    background-color: rgb(43, 43, 43);
  }
.grid-container> section:nth-child(odd) {
    background-color: rgb(22, 22, 22);
  }
  .mainHeadlines{
    margin: 56px 0 43px;
    width: 980px;
    font-size:28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
 

.blueText{
    font-size: 20px;
    color: rgb(0, 174, 243);
    cursor: pointer;
    font-family: var(--boldFont);
}
.blueText:hover{
    color:  rgb(244, 244, 244);
}
    
    .TBDusaid{
        font-size: 42px;
        font-family: var(--boldFont);
        margin-bottom: 10px;
    }
    .techedu{
        font-size: 36px;
        font-family: var(--boldFont);
        margin-top: 0;  
    }
    
     .tbcUSAIDinfo {
        font-size: 28px;
        margin-bottom: 36px;
    }

   





/* cards about courses */

.courseInfoSection{
    width: 980px;
    display: flex;
    flex-direction: column;
}

.coursesHeaderDiv{
    margin: 34px 0 67px;
    font-size: 24px;
}

.aboutCourses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 980px;
    box-sizing: border-box;
}
.courseHeader{
    margin: 0px 22px 25px 22px !important;
    font-size: 18px;
   }



.regAvailability{
    margin: 0px 22px 10px 22px;
    font-size: 14px;
    margin-bottom: 25px
}


.courseDetails{
    margin: 70px 22px 21px 22px;
    display: flex;
    color: rgb(0, 174, 239);
    font-size: 16px; 
}
.seeDetails{
    margin-left: 7px;
    color: rgb(0, 174, 239);
    font-family: wfont_643d94_93c16d86ec9d47d0a2a36894fbdd54fd, wf_93c16d86ec9d47d0a2a36894f, orig_tbc_x_medium;
}
.courseCards{
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(85, 85, 85, 1);
}

.courseImage{
    margin-bottom: 34px;
    width: 100%;
    height: 184px;   
}

@media (max-width: 425px){
    section div {
        width: 100% !important;
    }

.tbcUSAIDinfo{
    font-size: 20px;
    max-width: 100%;
    word-wrap: break-word;
}
.TBDusaid, .techedu{
    font-size: 30px;
    max-width: 100%;
    word-wrap: break-word;
}
.aboutCourses{
    grid-template-columns: 1fr !important;
}
.courseDetails{
    margin: 0 22px 21px 0px !important;
}

.slide1partnersInfo, 
.slide2partnersInfo{
    flex-direction: column;
    height: 327px;
    justify-self: space-around;
    padding: 64px 0 41px;
}
.projectPartnersHeaderP{
    font-size: 18px;
    font-stretch: 100%;
}

.arrow{
    display: none
}
/* .partnerImg{
    max-width:60vmin;
} */


.sliderSection{
    height: 371px;
}

.slideDots{
    margin: 14px 0 24px;
}

 
}


/* project partners  */
.sliderSection{
    width: 100vw;
    margin-bottom: 36px;
    display: flex;
    min-height: 224px;
   justify-content: center;
   flex-direction: column;
   box-sizing: border-box !important;
}


.projectPartners{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.projectPartnersHeader{
    font-size: 24px;
    width: 980px;
    margin: 34px 0 31px;
}

.projectPartnersSlider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 0 0 36px; */
    position: relative;
}

.slide1partnersInfo, 
.slide2partnersInfo{
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide2partnersInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.arrow{
    width: 18px;
    margin: 0 100px;
    height: 38px;
    fill : rgb(244, 244, 244);
    cursor: pointer;
}
.rightArrow{
    transform: rotate(180deg);
}

/* .column-1 {justify-content: flex-start}
.column-2 {justify-content: center}
.column-3 {justify-content: flex-end} */

.listDots{
   
    display: flex;
    justify-content: center;
}
.slideDots{
    margin: 14px 0 50px;
}

.dots{
    margin:0 6px;
    width: 6px;
    height: 6px;
    cursor: pointer;
}
.fading-in {
    opacity: 0;
    animation: fade-in 1s ease-in forwards ;
  }
  .fading-out {
    opacity: 1;
    animation: fade-out 1s ease-out forwards ;
  }
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    100% {
      opacity: 0;
    }
}











 /* nav, .navigationBar, .menu, .academyName{
    display: flex;
    justify-content:center;
    background-color: rgb(26, 30, 31);
    color: #fff;
}

.navbarLists{
    list-style-type: none;
    padding: 0 15px;
    color: #fff;

}
.navbarComponents{
    display: flex;
}





.navigationBar{
    width: 980px;
    display: flex;
    justify-content: space-between;
}


/* 






.FAQ{
    width: 980px;
    padding: 30px 40px;
    box-sizing: border-box;
    
} */





  /* article {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    line-height: 2;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .showAnswer {
    max-height: 1000px;  
    transition: max-height 1s ease;  
  }

  .questions{
    font-size:18px;
    padding: 15px 0;
    margin: 0;
 
}
  
.questions:hover{
    cursor: pointer;
}



.FAQSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    color:rgb(244, 244, 244);
    background-color: rgb(22, 22, 22);
}






.lvl{
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 2;
    margin: 0 0 0 21px;
}

.asterisc{
    margin: 37px 0 0;
}



.SelectionMethod, .multipleCourses, .price{
    padding: 1px 0;
    position: relative;
 
}
.FAQHeader:first-child{
    font-size: 24px;
}

.allQuestions{
    font-size: 20px;
    color: rgb(0, 174, 243) ;
}


.FAQHeader{
    display: flex;
    justify-content:space-between;
    width: 980px;
    padding: 30px 40px;
}


.SelectionMethod svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
}

.multipleCourses svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
}

.price svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
} */










/* footer{
    background-color: rgba(43, 43, 43, 43);
    width: 100%;
    display: flex;
    justify-content: center;


}


.footerContainer{
    width: 980px;
    display: flex;
    justify-content: space-between;
    color: rgb(244, 244, 244);
}

.termsAndConditions{
    font-size: 14px;
    margin: 64px 0 43px;
}

.logos{
    margin: 64px 0 18px;
    display: flex;
    justify-content: flex-end;
}

.fb{
    margin-right:10px ;
}

.terms{
    margin: 15px 0 0;
}
.tbclogo{
    margin: 3px 0 27px;
}
.allRights{
    margin-bottom: 3px;
}
.allRights{
    margin-bottom: 3px;
}

.contactBtn{
    margin-bottom: 43px;
    font-size: 16px;
    height: 39px;
    width: 162px;
    border-radius: 6px;
    border: none;
    background-color: rgb(0, 174, 243);
    color: rgb(244, 244, 244);;
}


.writeUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

@font-face {
    font-display: block;
    font-family: wf_dd28b3957391427eb54de1c9e;
    src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"),
         url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"),
         url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
  }


  @font-face {
    font-display: block;
    font-family: wf_f52303b2efea42e1b4aeed119;
    src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2") format("woff2"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff") format("woff"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf") format("ttf");
    }


  


    
/* 
        @font-face {
        font-display: block;
        font-family: wf_93c16d86ec9d47d0a2a36894f;
        src: url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff2/file.woff2") format("woff2"),
        url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff/file.woff") format("woff"),
        url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/ttf/file.ttf") format("ttf");
        }
        
  
        @font-face {
            font-display: block;
            font-family: wf_8225d34a61844e68ad1e87738;
            src: url("https://static.wixstatic.com/ufonts/dd97f4_8225d34a61844e68ad1e877385be5589/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/dd97f4_8225d34a61844e68ad1e877385be5589/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/dd97f4_8225d34a61844e68ad1e877385be5589/ttf/file.ttf") format("ttf");
            }
             */
            /* @font-face {
            font-display: block;
            font-family: wf_7737b5e7be24426aa35c9f431;
            src: url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/dd97f4_7737b5e7be24426aa35c9f4311c1de96/ttf/file.ttf") format("ttf");
            } */
            /* @font-face {
            font-display: block;
            font-family: wf_7094df397a2d4715b5ce55b02;
            src: url("https://static.wixstatic.com/ufonts/93e8a3_7094df397a2d4715b5ce55b02260e200/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/93e8a3_7094df397a2d4715b5ce55b02260e200/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/93e8a3_7094df397a2d4715b5ce55b02260e200/ttf/file.ttf") format("ttf");
            }
            @font-face {
            font-display: block;
            font-family: wf_1f726ed9ab8147b6b2291ddc6;
            src: url("https://static.wixstatic.com/ufonts/93e8a3_1f726ed9ab8147b6b2291ddc605bb543/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/93e8a3_1f726ed9ab8147b6b2291ddc605bb543/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/93e8a3_1f726ed9ab8147b6b2291ddc605bb543/ttf/file.ttf") format("ttf");
            }
            @font-face {
                font-family:"Avenir-LT-W01_35-Light1475496";
                src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff");
            font-display: block;
            }
            @font-face {
            font-display: block;
            font-family: wf_3c3f90fbe1a64758ba2fe044d;
            src: url("https://static.wixstatic.com/ufonts/dd97f4_3c3f90fbe1a64758ba2fe044d076f136/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/dd97f4_3c3f90fbe1a64758ba2fe044d076f136/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/dd97f4_3c3f90fbe1a64758ba2fe044d076f136/ttf/file.ttf") format("ttf");
            }
            @font-face {
            font-display: block;
            font-family: wf_69368414d5234456ad7fae412;
            src: url("https://static.wixstatic.com/ufonts/93e8a3_69368414d5234456ad7fae4124891d23/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/93e8a3_69368414d5234456ad7fae4124891d23/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/93e8a3_69368414d5234456ad7fae4124891d23/ttf/file.ttf") format("ttf");
            }
    
            @font-face {
            font-display: block;
            font-family: wf_0b0e96a2981e437e9558d9da6;
            src: url("https://static.wixstatic.com/ufonts/643d94_0b0e96a2981e437e9558d9da67f89677/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/643d94_0b0e96a2981e437e9558d9da67f89677/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/643d94_0b0e96a2981e437e9558d9da67f89677/ttf/file.ttf") format("ttf");
            }
            @font-face {
            font-display: block;
            font-family: wf_e455edca47d74e449d05a8205;
            src: url("https://static.wixstatic.com/ufonts/93e8a3_e455edca47d74e449d05a8205f61b3b4/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/93e8a3_e455edca47d74e449d05a8205f61b3b4/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/93e8a3_e455edca47d74e449d05a8205f61b3b4/ttf/file.ttf") format("ttf");
            }
            @font-face {
                font-family: "DIN-Next-W01-Light";
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
            font-display: block;
            }
            @font-face {
                font-family: "DIN-Next-W02-Light";
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
            font-display: block;
            }
            @font-face {
                font-family: "DIN-Next-W10-Light";
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
                src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
            font-display: block;
            }
            */