/* General styles */

 *{
    font-family: wf_dd28b3957391427eb54de1c9e;
    color:  rgb(244, 244, 244);
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    margin:0px;
}

:root {
    --boldFont: wfont_643d94_f52303b2efea42e1b4aeed119e42672e, wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black;
  } 


  /* head menu section */

.navbarSection{
    padding: 10px;
    background-color: rgb(26,30,31);
    width: 100% !important;
    box-sizing: border-box;
}

  .navXl{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
    background-color: rgb(26, 30, 31);
    display: flex;
    justify-content: center;
}

.navMd{
    display: none;
    width: 100% !important;
    height: auto;
   }

.toggleMenuBtn, 
.slideRightMenu{
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px !important;
}

.TopmenuStick,
.togglTopmenuStick, 
.MiddlemenuStick, 
.toggleMiddlemenuStick,
.BottommenuStick,
.toggleBottommenuStick{
    height: 3px;
    background-color:#fff;
    border-radius: 1.5px;

}
.TopmenuStick,
.togglTopmenuStick,
.toggleBottommenuStick,
.BottommenuStick
{
    width: 13px !important;
} 
.MiddlemenuStick,
.toggleMiddlemenuStick{
    width: 26px;
}
.BottommenuStick,.toggleBottommenuStick, .slideRightMenu{
   align-self: flex-end;
}

.rotateStick{
    transition: transform 1.2s ease-out;
    transform: rotate(-125deg);
    margin: 3px;
    background-color: rgb(118, 118, 118);  
}

.rotateCentralStick{
    transition: all 1.2s ease;
    transform: rotate(-45deg);
    background-color: rgb(118, 118, 118);
}

.academyName, 
.menu{
    margin: 22px 0;
}

.navbarLists{
    list-style-type: none;
    padding: 0 15px;
    color: #fff;
}
.navbarComponents{
    display: flex;
}

.navigationBar{
    width: 980px;
    display: flex;
    justify-content: space-between; 
}

.TBC-USID{
    color: rgb(0, 174, 243);
}

/* TBC x USAID info sections */

/* section 1  -- main banner*/

.HeadlinesSection{
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1656,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
    color: #fff;
    min-height: 352px;
    background-position: center;
}

/* section 2  -- general information banner*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
}
.grid-container section {
    display: flex;
    justify-content: center;
    padding: 0 20px; 
    box-sizing: border-box !important;
  }

.grid-container> section:nth-child(even) {
    background-color: rgb(43, 43, 43);
  }
.grid-container> section:nth-child(odd) {
    background-color: rgb(22, 22, 22);
  }

  .mainHeadlines{
    margin: 56px 0 43px;
    font-size:28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
 
.blueText{
    font-size: 20px;
    color: rgb(0, 174, 243);
    cursor: pointer;
    font-family: var(--boldFont);
}

.blueText:hover{
    color:  rgb(244, 244, 244);
}
    .TBDusaidText{
        font-size: 42px;
        font-family: var(--boldFont);
        margin-bottom: 10px;
    }
    .techeduText{
        font-size: 36px;
        font-family: var(--boldFont);
        margin-top: 0;  
    }
    
     .tbcUSAIDinfo {
        font-size: 28px;
        margin-bottom: 36px;
    }


/* cards about courses */

.courseInfoSection{
    display: flex;
    flex-direction: column;
}

.coursesHeaderDiv{
    margin: 34px 0 67px;
    font-size: 24px;
}

.teachingCourses{
    margin-bottom: 37px;
}

.aboutCourses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    box-sizing: border-box;
}
.courseHeader{
    margin: 0px 22px 25px 22px !important;
    font-size: 18px;
   }



.regAvailability{
    margin: 0px 22px 10px 22px;
    font-size: 14px;
    margin-bottom: 25px
}

.courseDetails{
    margin: 70px 22px 21px 22px;
    display: flex;
    color: rgb(0, 174, 239);
    font-size: 16px; 
}
.seeDetails{
    margin-left: 7px;
    color: rgb(0, 174, 239);
    font-family: wf_dd28b3957391427eb54de1c9e, orig_tbc_x_medium
}
.courseCards{
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(85, 85, 85, 1);
    margin: 12.5px 0;

}
.courseImage{
    margin-bottom: 34px;
    width: 100%;
    height: 184px;   
}







/* project partner's info and slider */
.sliderSection{
    width: 100%;
    margin-bottom: 36px;
    display: flex;
    min-height: 224px;
   justify-content: center;
   flex-direction: column;
   box-sizing: border-box !important;
}

.projectPartners{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectPartnersHeader{
    font-size: 24px;
    margin: 34px 0 31px;
}

.projectPartnersSlider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 95px;
    align-items: center;
}

.slide1partnersInfo, 
.slide2partnersInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide2partnersInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow{
    width: 18px;
    margin: 0 100px;
    height: 38px;
    fill : rgb(244, 244, 244);
    cursor: pointer;
}
.rightArrow{
    transform: rotate(180deg);
}
.listDots{
   
    display: flex;
    justify-content: center;
}
.slideDots{
    margin: 14px 0 50px;
}
.dots{
    margin:0 6px;
    width: 6px;
    height: 6px;
    cursor: pointer;
    list-style-type: none;
}
.fading-in {
    opacity: 0;
    animation: fade-in 1.5s ease-in-out forwards;
  }
  
  .fading-out {
    opacity: 1;
    animation: fade-out 1.5s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }

/* frequently asked questions section */

.FAQ{
    padding: 30px 40px;
    box-sizing: border-box;
}


/* project partners  */



 .answers {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    line-height: 2;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .showAnswer {
    max-height: 1000px;  
    transition: max-height 0.3s ease;
    transition-delay: 0;  
  }
.questionsDiv{
    min-height: 50px;
    display: flex;
    align-items: center;
}

.questionsDiv::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1%; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.109); 
  }

  .questions{
    font-size:18px;
    padding: 15px 0;
    margin: 0;
    
}
  
.questions:hover{
    cursor: pointer;
}

.FAQSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    color:rgb(244, 244, 244);
    background-color: rgb(22, 22, 22);
}
.lvl{
    padding-top: 2px;
    padding-bottom: 3px;
    line-height: 2;
    margin: 0 0 0 21px;
}

.asterisc{
    margin: 37px 0 0;
}

.SelectionMethod, .multipleCourses, .price{
    padding: 1px 0;
    position: relative;
}

.FAQHeader:first-child{
    font-size: 24px;
}

.allQuestionsTop,
.allQuestionsBottom{
    font-size: 20px;
    color: rgb(0, 174, 243) ;
}
.allQuestionsBottom{
    display: none;
    font-size: 20px;
    color: rgb(0, 174, 243) ;
}

.FAQHeader{
    display: flex;
    justify-content:space-between;
    padding: 30px 40px;
}

.SelectionMethod svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
}

.multipleCourses svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
}

.price svg{
    fill : rgb(244, 244, 244);
    position: absolute;
    right: 0;
    top: 25px;
} 



/* footer section */
footer{
    background-color: rgba(43, 43, 43, 43);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContainer{
    display: grid;
    grid-template-areas:
    'tAndConditions logos'
    'allRights allRights' 
    'terms contactBtn';
    margin: 64px 0 43px;
}

.termsAndConditions{
    font-size: 14px;
    grid-area: tAndConditions;
    margin-bottom: 27px;
}
.contactBtnDiv{
    justify-self: end;
}

.logos{
    display: flex;
    justify-content: flex-end;
    height: auto;
    grid-area: logos;
}

.fb{
    margin-right:10px ;
    width: 35px;
    height: 35px;
}
.Ytube{
    width: 35px;
    height: 35px; 
}

.terms{
    margin: 15px 0 0;
    grid-area: terms;
}
.tbclogo{
    margin: 3px 0;
}
.allRights{
    margin-bottom: 3px;
    grid-area: allRights;
}
.contactBtn{
    font-size: 16px;
    height: 39px;
    width: 162px;
    border-radius: 6px;
    border: none;
    background-color: rgb(0, 174, 243);
    color: rgb(244, 244, 244);
    align-self: right;
    grid-area: contactBtn;
}

.togglMenu{
    display: none;
}

.mediumWidth{
  width: 980px;
}

@media (max-width: 980px){
    .mediumWidth{
      max-width: 100%;
    }
       .arrow{
        display: none
    }
}



@media (max-width: 768px){
    /* general styling */
    section div {
        width: 100% !important;
    }

    /* navigation Section */
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .togglMenu{
        position: absolute;
        right: -250px;
        background-color:rgba(43, 43, 43);
        width:200px !important;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 42px 10px;
        transition: right 1s ease-in-out;     
        position: fixed;  
        top: 0;
    }
    .show{
        right: 0;
        display: flex;
        transition: right 1s ease-in-out;  
    }
    .navigationBar{
        width: 100%;
    }
    .navbarComponents1{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
  
    .mainPage,
    .TBC-IT,
    .TBC-USID,
    .risks    {
        margin: 22px 10px !important;
    }
    .navbarLists{
        padding: 0;
    }
    .slideRightMenu{
        margin: 0 10 22px 10px 
    }
    .navXl{
        display: none;
    }
    .navMd{
        display: block;
    }

    .HeadlinesSection{
        margin-top: 0;
    }


 /* tbc x USAID info section */
    .tbcUSAIDinfo{
        font-size: 20px;
        max-width: 100%;
        word-wrap: break-word;
    }
    .TBDusaidText, 
    .techeduText{
        font-size: 25px;
        max-width: 100%;
        word-wrap: break-word;
    }

    /* info about courses */
    .courseHeader{
        font-size: 15px;
    }
    .aboutCourses{
        grid-template-columns: 1fr !important;
    }
    .courseDetails{
        margin: 0 22px 21px 20px !important;
    }


    /* slider and partner info section */
    .slide1partnersInfo, 
    .slide2partnersInfo{
        flex-direction: column;
        height: 327px;
        justify-self: space-around;
        padding: 64px 0 41px;
    }
    .projectPartnersHeaderP{
        font-size: 18px;
        font-stretch: 100%;
    }

 
    .sliderSection{
        height: 371px;
    }

    .slideDots{
        margin: 14px 0 24px;
    }


    /* FAQ section */

    .allQuestionsTop{
    display: none;
    }
    .allQuestionsBottom{
        display: block;
        margin: 50px 0;
    }
    .allQuestionsBottom{
        display: block;
        font: 16px;
        font-family: var(--boldFont)
    }

    .FAQSection{
        margin-top: 50px;
        padding: 0;
    }
    .FAQHeader{
        font-size: 20px !important;
        padding: 0;
        margin-bottom: 20px;
    }
    .questionsDiv{
        height: auto;
    }
    .FAQ{
        padding: 0;
    }
    .answers{
        margin: 0;
    }
    .questionsDiv::before {
        height: 0; 
    }
    .questions{
        font-size: 16px;
    }

    /* footer grid container // enabling to manage footerContainer's items accordingly - using grid */
  .footerContainer{
    width: 980px;
    display: grid;
    grid-template-areas:
    'tAndConditions tAndConditions'
    'contactBtn logos' 
    'terms terms'
    'allRights allRights';
    margin: 64px 0 43px;
}

    .contactBtnDiv, .logos{
        margin: 35px 0;
        }
    .allRights{
        margin: 10px 0 43px;
        }
    footer{
        padding: 0 20px
        }
}

/* defining fonts */
@font-face {
    font-display: block;
    font-family: wf_dd28b3957391427eb54de1c9e;
    src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"),
         url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"),
         url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
  }

  @font-face {
    font-display: block;
    font-family: wf_f52303b2efea42e1b4aeed119;
    src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2") format("woff2"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff") format("woff"),
    url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf") format("ttf");
    }
